body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;     
  font-family: Arial, sans-serif;
  background-color: rgb(59, 58, 58);
}

.container {
  text-align: center;
}


